body {
	font-family: arial;
	margin: 40px auto;
	width: 80%;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 10px;
}

table tr td {
	font-family: arial;
	font-size: 14px;
	padding: 3px;
}

.table-bordered {
	border-collapse: collapse;
	width: 100%;
	border: solid 1px #000;
	margin-bottom: 20px;
}

.table-bordered tr td, .table-bordered tr th {
	font-family: arial;
	font-size: 14px;
	padding: 3px;
	border: solid 1px #000;
}

h4 {margin-bottom: 0px; margin-top: 0px;}
.ctr {text-align: center}
.rgt {text-align: right}